.logo_set{
    background-image: url(../img/logo_set_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 140px 0;
    position: relative;
}
.logo_set::after{
    content: '';
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.logo_set_img_wrp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
.logo_set_img{
    width: 15%;
    transition: transform .3s;
}
.logo_set_img:hover{
    transform: scale(1.3);
}
