@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-light.eot');
    src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat/montserrat-light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat_regular.eot');
    src: url('../fonts/montserrat/montserrat_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat_regular.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat_regular.woff') format('woff'),
         url('../fonts/montserrat/montserrat_regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'raleway';
    src: url('../fonts/raleway/ralewayregular.woff2'),
         url('../fonts/raleway/ralewayregular.woff'),
         url('../fonts/raleway/ralewayregular.ttf');
    font-weight: 400;
    font-style: normal;

}
@font-face{
    font-family: 'raleway';
    src: url('../fonts/raleway/ralewaymedium.woff2'),
         url('../fonts/raleway/ralewaymedium.woff'),
         url('../fonts/raleway/ralewaymedium.ttf');
    font-weight: 500;
    font-style: normal;

}
@font-face{
    font-family: 'raleway';
    src: url('../fonts/raleway/ralewaysemibold.woff2'),
         url('../fonts/raleway/ralewaysemibold.woff'),
         url('../fonts/raleway/ralewaysemibold.ttf');
    font-weight: 600;
    font-style: normal;

}
@font-face{
    font-family: 'raleway';
    src: url('../fonts/raleway/ralewayextrabold.woff2'),
         url('../fonts/raleway/ralewayextrabold.woff'),
         url('../fonts/raleway/ralewayextrabold.ttf');
    font-weight: 800;
    font-style: normal;

}
@font-face{
    font-family: 'roboto';
    src: url('../fonts/roboto/robotoregular.eot');
    src: url('../fonts/roboto/robotoregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/robotoregular.woff2'),
         url('../fonts/roboto/robotoregular.woff'),
         url('../fonts/roboto/robotoregular.ttf');
    font-weight: 400;
    font-style: normal;

}


body{
    margin: 0 auto;
    max-width: 1920px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
