.recent_posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 0;
}
.recent_posts_head{
    font-family: 'raleway';
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: #555555; 
    display: block;
    width: 100%;
    text-align: center;
}
.recent_posts_txt{
    font-family: 'montserrat';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    width: 757px;
    text-align: center;
    margin: 30px 0;
}
.recent_posts_card_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 40px 0;
}
.recent_posts_card_wrp{
    width: 370px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.recent_posts_date{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.recent_posts_date_top{
    font-family: 'montserrat';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 20px;
    color: #ffffff;
    padding: 10px;
    background-color: #363636;
    text-align: center;
    border: 1px solid #363636;
    border-radius: 3px 3px 0 0;
    transition: background-color .3s,
                border .3s;
}
.recent_posts_date_bot{
    font-family: 'roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    padding: 5px;
    background-color: #252525;
    text-align: center;
    border: 1px solid #252525;
    border-radius: 0 0 3px 3px;
    transition: background-color .3s,
                border .3s;
}
.recent_posts_card_wrp:hover .recent_posts_date{
    z-index: 3;
}
.recent_posts_card_wrp:hover .recent_posts_date_top{
    background-color: #c7b299;    
    border: 1px solid #c7b299;
}
.recent_posts_card_wrp:hover .recent_posts_date_bot{
    background-color: #a48d72;  
    border: 1px solid #a48d72; 
}
.recent_posts_card_wrp:hover .recent_posts_card_img{
    filter: brightness(33%);
}
.recent_posts_card_wrp:hover .recent_posts_card_txt_wrp{
    background-color: #362f2d;
}
.recent_posts_card_wrp:hover .recent_posts_card_head{
    color: #c7b299;
}
.recent_posts_card_wrp:hover .recent_posts_card_txt{
    color: #ffffff;
}
.recent_posts_card_txt_wrp{
    padding: 30px;
    transition: background-color .3s;
}
.recent_posts_card_head{
    font-family: 'raleway';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #555555;
    transition: color .3s;
}
.recent_posts_card_txt{
    font-family: 'montserrat';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 20px 0 25px 0;
    transition: color .3s
}
.recent_posts_card_link{
    font-family: 'montserrat';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
    text-decoration: none;
    position: relative;
}
.recent_posts_card_link:hover::after{
    opacity: 1;
}
.recent_posts_card_link:active::after{
    left: 100px;
}
.recent_posts_card_link::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px;
    border-color: transparent transparent transparent #c7b299;
    left: 90px;
    bottom: 2px;
    position: absolute;
    opacity: 0;
    transition:opacity .3s,
               left .3s;
}
.recent_posts_btn{
    background: transparent;
    border: none;
    outline: none;
}
.recent_posts_svg{
    fill: #d1d1d1;
    transition: fill .3s,
                transform .3s;
}
.recent_posts_svg:hover{
    fill: #c7b299;
}
.recent_posts_svg:active{
    transform: scale(1.3);
}